<div class="stream-item">
  <div class="micropost">
    <div>
		<span class="tweeted-on">Tweeted <%= time_ago_in_words(feed_item.created_at) %> ago</span>
		<span class="tweeted-as"><%= feed_item.turing_user.name %></span>
	</div>
	<div class="tweeted-content"><%= wrap(feed_item.content) %></div>
  </div>
</div>
