<div class="main-content" style="min-height: 570px">

	<div class="page-header">
		<div id="tweet-box">
			<h2>
				Can you spot the true identity?
			</h2>
			
		</div>
		<ul class="stream-tabs">
					<li class="stream-tab-active"><a href="/" class="tab-text">Timeline</a></li>
					
				</ul>
		
	
		
		
	</div>
</div>
<div id="left-pane" class="dashboard">
	
			

	

	
	<h2>Are you the twit in twitter?</h2>
	

	<p>
		Twittest is a playful project for children and adults to explore identity across social networks. Loosely based upon the Turing Test, the game is simple: Can you spot the real students, teachers, celebrities and bots from the fakers by reading their tweets? And can you successfully fake being someone else?
	</p>
	<p>
		Twittest looks and feels like Twitter, only in Twittest you get to choose who you want to pretend to be, and let others vote on you. You get points for faking your identity and spotting the identity of other peoples tweets.
	</p>
	
		<iframe width="330" height="248" src="http://www.youtube.com/embed/m_dXtW1TEzA" frameborder="0" allowfullscreen></iframe>
	
		
</div>
