<script type="text/javascript">
 function process_vote(id, author, vote){
	
	

	//var tweetauthor  = tweet_author(vote, author);
	var tweetauthor = author


	if (tweetauthor == vote) {
		$('#votes-for-'+id).html("<span style='color:green'>You correctly identified the author as a " + return_name(tweetauthor) + "</span>");
  	} else {
     	$('#votes-for-'+id).html("<span style='color:red'>The author of this tweet was in fact a  " + return_name(tweetauthor)+ "</span>");
   	}
 }

 function tweet_author(vote, author){
	var arr = [1, 2, 3, 4, author, author, author, author, vote];
	var randomnumber=Math.floor(Math.random()*arr.length);
	arr = $.shuffle(arr);
	
	return arr[randomnumber];
 }	

 function return_name(tweetauthor){

	if(tweetauthor == 1){
		return "Student";
	}
	if(tweetauthor == 2){
		return "Teacher";
	}
	if(tweetauthor == 3){
		return "Celebrity";
	}
	if(tweetauthor == 4){
		return "Twitbot";
	}
	
}

(function($){

	$.fn.shuffle = function() {
		return this.each(function(){
			var items = $(this).children().clone(true);
			return (items.length) ? $(this).html($.shuffle(items)) : this;
		});
	}
	
	$.shuffle = function(arr) {
		for(var j, x, i = arr.length; i; j = parseInt(Math.random() * i), x = arr[--i], arr[i] = arr[j], arr[j] = x);
		return arr;
	}
	
})(jQuery);

</script>


<div class="main-content" style="min-height: 570px">
  <div class="page-header">
    <div id="tweet-box">
      <h2>
  	    Can you spot the true identity?
      </h2>
    </div>
    <ul class="stream-tabs">
      <li class="stream-tab-active"><a href="/" class="tab-text">Timeline</a></li>			
    </ul>
  </div>
  <div class="stream-manager">
    <div class="stream-container">
						
						
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 3 minutes ago</span>
								<span class="tweeted-as">Teacher</span>
							</div>
							<div class="tweeted-content">The great Alan Turing commented that 'machines take me by surprise with great frequency'. Might we ever surprise the machines? </div>
							<div id="votes-for-1" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(1, 3, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(1, 3, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(1, 3, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(1, 3, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>  
						  </div>
						</div>
						
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 20 minutes ago</span>
								<span class="tweeted-as">Student</span>

							</div>
							<div class="tweeted-content">Fixing the Brain With Computers</div>
						  	<div id="votes-for-2" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(2, 1, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(2, 1, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(2, 1, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(2, 1, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>
							</div>
						</div>
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 23 minutes ago</span>
								<span class="tweeted-as">Student</span>

							</div>
							<div class="tweeted-content">Just found out 67 million kids in the world still lack a basic education. Suddenly moaning about homework seems a bit pointless.</div>
						  	<div id="votes-for-3" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(3, 3, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(3, 3, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(3, 3, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(3, 3, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>
							</div>
						</div>
							<div class="stream-item">
							  <div class="micropost">
							    <div>
									<span class="tweeted-on">Tweeted 1 hour ago</span>
									<span class="tweeted-as">Celebrity</span>

								</div>
								<div class="tweeted-content">Searching for some top verbal humour to use to prove I'm not a machine pretending to be a celebrity.</div>
							  	<div id="votes-for-5" style=" padding:10px 0px 0px 0px">
								  <span style="float:left">Who is the author of this tweet?</span>
								    <a onclick="process_vote(5, 3, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
								    <a onclick="process_vote(5, 3, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
									<a onclick="process_vote(5, 3, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
								    <a onclick="process_vote(5, 3, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
								</div>
							</div>
							</div>
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 1 hour ago</span>
								<span class="tweeted-as">Student</span>

							</div>
							<div class="tweeted-content">I am delighted to be involved in this experimental celebration of Turings legacy. A great man, badly treated.</div>
							<div id="votes-for-4" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(4, 3, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(4, 3, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(4, 3, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(4, 3, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div> 
						 </div>
						</div>
					
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 2 hours ago</span>
								<span class="tweeted-as">Twitbot</span>

							</div>
							<div class="tweeted-content">The game may perhaps be criticised on the ground that the odds are weighted too heavily against the machine.</div>
						 	<div id="votes-for-10" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(10, 1, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(10, 1, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(10, 1, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(10, 1, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>
						 </div>
						</div>
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 2 hours ago</span>
								<span class="tweeted-as">Teacher</span>

							</div>
							<div class="tweeted-content">So much to learn, so much technology to master..Noble Causes, Techniques to master, I will press on...</div>
						 	<div id="votes-for-6" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(6, 4, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(6, 4, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(6, 4, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(6, 4, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>
						 </div>
						</div>
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 4 hours ago</span>
								<span class="tweeted-as">Twitbot</span>

							</div>
							<div class="tweeted-content">A natural consequence of doing so is that one then assumes that there is no virtue in the mere working out of consequences from data.</div>
						  	<div id="votes-for-7" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(7, 4, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(7, 4, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(7, 4, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(7, 4, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>
							</div>
						</div>
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 4 hours ago</span>
								<span class="tweeted-as">Student</span>

							</div>
							<div class="tweeted-content">I have no doubt that United have every chance of winning the premier league we just gotta win all our games and thrash city in april !</div>
						  	<div id="votes-for-8" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(8, 4, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(8, 4, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(8, 4, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(8, 4, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>
						</div>
						</div>
						<div class="stream-item">
						  <div class="micropost">
						    <div>
								<span class="tweeted-on">Tweeted 4 hours ago</span>
								<span class="tweeted-as">Teacher</span>

							</div>
							<div class="tweeted-content">Manatees (family Trichechidae, genus Trichechus) are large, fully aquatic, mostly herbivorous marine mammals sometimes known as sea cows</div>
						  	<div id="votes-for-9" style=" padding:10px 0px 0px 0px">
							  <span style="float:left">Who is the author of this tweet?</span>
							    <a onclick="process_vote(9, 1, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
							    <a onclick="process_vote(9, 1, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
								<a onclick="process_vote(9, 1, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
							    <a onclick="process_vote(9, 1, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
							</div>
						</div>
						</div>
							<div class="stream-item">
							  <div class="micropost">
							    <div>
									<span class="tweeted-on">Tweeted 4 hours ago</span>
									<span class="tweeted-as">Student</span>

								</div>
								<div class="tweeted-content">An original idea. That can't be too hard. The library must be full of them.</div>
							  	<div id="votes-for-11" style=" padding:10px 0px 0px 0px">
								  <span style="float:left">Who is the author of this tweet?</span>
								    <a onclick="process_vote(11, 2, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
								    <a onclick="process_vote(11, 2, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
									<a onclick="process_vote(11, 2, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
								    <a onclick="process_vote(11, 2, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
								</div>
							</div>
							</div>
								<div class="stream-item">
								  <div class="micropost">
								    <div>
										<span class="tweeted-on">Tweeted 4 hours ago</span>
										<span class="tweeted-as">Celebrity</span>

									</div>
									<div class="tweeted-content">Speculating on whether certain tweets contain Turing-esque cryptographic messages.</div>
								  	<div id="votes-for-12" style=" padding:10px 0px 0px 0px">
									  <span style="float:left">Who is the author of this tweet?</span>
									    <a onclick="process_vote(12, 3, 1)" style="padding-left: 10px;" class="button_to_link">Student</a>
									    <a onclick="process_vote(12, 3, 2)" style="padding-left: 10px;" class="button_to_link">Teacher</a>
										<a onclick="process_vote(12, 3, 3)" style="padding-left: 10px;" class="button_to_link">Celebrity</a>
									    <a onclick="process_vote(12, 3, 4)" style="padding-left: 10px;" class="button_to_link">Twitbot</a>
									</div>
								</div>
								</div>
	</div>
  </div>
</div>
<div id="left-pane" class="dashboard">
	
			

	

	
	<h2>Are you the twit in twitter?</h2>
	

	<p>
		Twittest is a playful project for children and adults to explore identity across social networks. Loosely based upon the Turing Test, the game is simple: Can you spot the real students, teachers, celebrities and bots from the fakers by reading their tweets? And can you successfully fake being someone else?
	</p>
	<p>
		Twittest looks and feels like Twitter, only in Twittest you get to choose who you want to pretend to be, and let others vote on you. You get points for faking your identity and spotting the identity of other peoples tweets.
	</p>
	
		<iframe width="330" height="248" src="http://www.youtube.com/embed/m_dXtW1TEzA" frameborder="0" allowfullscreen></iframe>
	
		
</div>
