<div class="main-content" style="min-height: 459px">
	<div class="page-header">
		<div id="tweet-box">
			<h2>
				What's happening?
			</h2>
			<div class="text-area">
				<textarea class="tweet-editor"></textarea>
			</div>
			<div class="tweet-button-container">
				<a class="tweet-button button" href="#">Tweet</a>
			</div>
		</div>
	</div>
</div>
<div id="left-pane" class="dashboard">
	<h2>About Twittest</h2>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique fermentum urna, 
	ac posuere leo hendrerit ut. Praesent pellentesque purus quis metus venenatis dignissim 
	ut eget libero. Morbi in lacus mi, vitae cursus felis. Duis tincidunt, turpis nec fermentum 
	ultrices, odio turpis tincidunt lacus, eu auctor mauris tortor in justo. In pretium nulla eget 
	urna fringilla eget facilisis diam ullamcorper. 
	</p>

	<h2>How to Play</h2>
	<p>
		Duis accumsan ipsum id velit iaculis euismod. 
		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
		Maecenas urna orci, suscipit eget malesuada vitae, faucibus nec augue. Morbi iaculis mattis
		 purus ut varius. Integer ac velit turpis.
	</p>
	
	<%= link_to "Sign up for a public account now!", signup_path, :class => "signup_button round" %>
</div>
