<div class="whole-page-wrapper">
	<div class="whole-page-header">
		<h1>Twittest Teachers Activity Pack</h1>	
		<%= render 'shared/activity_menu' %>
	</div>
	<p>
	Resources
	</p>
	<ul>
		<li>Card or paper, preferably A6 size, one sheet per student</li>
		<li>Pens or pencils</li>
		<li>A large container, or hat to mix the cards</li>
		<li>Twittest Teachers pack, background information</li>
		<li>Whiteboards and pens</li>
	</ul>
	<p>
	Timescale
	</p>
	<p>
	 1 hour session recommended, per identity explored.
	</p>
	<p>
	Outline
	</p>
	<p>
		The Turing Test questions the ability of artificial intelligence programmes to impersonate human beings; however it also highlights the way in which humans establish their identity. The Twittest game explores this theme by scoring the ability of players to impersonate other human beings, or artificial Twitbots. This preparatory activity focuses on the theme of impersonation, and highlights what might be required to mimic different types of people.
	</p>
	<p>
	Summary
	</p>
	<p>
		This activity explores the theme of identity play by involving learners in a writing task that requires impersonation of a particular role. Learners will attempt to mimic a given role by writing a short message. The teacher will then manage a feedback session, in which responses will be evaluated with regard to how well they have impersonated the given role. Real messages and fake messages will be identified and scored, whilst the group discuss how learners failed or succeeded in impersonating the given role.
	</p>
	
	<p>Lesson Plan</p>
	<ol>
		<li>Teacher to establish the identity ‘teacher’ that each student should try and impersonate.</li>
		<li>Distribute suitably sized card or paper to each student, and ask them to write a short sentence pretending to be a teacher.</li>
		<li>Teacher should write a number of ‘authentic’ teacher messages.</li>
		<li>Collect all of the cards, including those written by the teacher, and place them a large container or hat so that they can be mixed.</li>
		<li>Distribute the container, allowing each student to select a card.</li>
		<li>Taking turns, students read out their chosen card and decide of it is real or fake. Teacher to manage a discussion about its authenticity</li>
		<li>Teacher can also keep a score using the white board, indicating the number of messages that successfully deceived and the number that were detected as fakes.</li>
	</ol>
	
	
	<p>Adaptations and extensions</p>
	<p>
		This activity can explore a range of identities. Gender identity might be explored, as was proposed in Alan Turing’s original paper, and this may present an opportunity for cross disciplinary collaboration. Impersonation of chatbots might also be explored. This would require the teacher to copy some suitable messages from an authentic chatbot, examples of which can be found in the Twittest resources.
	</p>
	
	<p>Curriculum Links</p>
	<ul>
	<li>Knowledge and understanding of computing concepts.</li>
	<li>Ability to solve problems by applying knowledge, understanding and practical skills</li>
	<li>Demonstrate knowledge and understanding of a range of facts, ideas and terminology relevant to the development, applications and features of artificial intelligence.
	<li>Definitions of human intelligence and artificial intelligence</li>
	<li>Descriptions of aspects of intelligence (including language, learning, cognitive ability, problem solving skills, memory, creativity)</li>
	<li>Explanation of the difficulties of determining an accurate and agreed definition of intelligence.</li> 
	<li>Explanation of the inherent flaws of the Turing test as a method for determining the existence of artificial intelligence</li>
	</ul>
	
</div>