<div class="whole-page-wrapper">
	<div class="whole-page-header">
		<h1>Twittest Teachers Activity Pack</h1>	
		<%= render 'shared/activity_menu' %>
	</div>
	<p>
	Resources
	</p>
	<ul>
		<li>A4 card tweets supplied in the teacher pack</li>
		<li>Whiteboard and projector</li>
		<li>Twittest Teachers pack, background information</li>
	</ul>
	<p>
	Timescale
	</p>
	<p>
	 1 hour session recommended.
	</p>
	<p>
	Outline
	</p>
	<p>
		Students will benefit from viewing and discussing a range of existing tweets, true and deceptive, and originating from all the different possible roles involved in Twittest. Students will learn skills related to information retrieval, as well as identifying truthful and deceptive language. This activity will prepare learners for using the Twittest system to judge existing tweets, as well as send effective tweets of their own.	
	</p>
	<p>
	Summary
	</p>
	<p>
		This activity involves the discussion of existing tweets that have been sent in the Twittest game. Students will explore both truthful and deceptive tweets, highlighting the range of possibilities in identifying the sender of a tweet. True and false tweets from students, teachers, celebrities and Twitbots will be demonstrated. This activity can also involve a discussion of deception, highlighting specific ways in which tweets have successfully fooled participants.
	</p>
	
	<p>Lesson Plan</p>
	<ol>
		<li>Teacher to introduce the activity by discussing the range of options involved in identifying the source of tweets. This can be related to information retrieval.</li>
		<li>Using the A4 card tweets supplied in the teacher pack, the teacher will display each tweet in turn.</li>
		<li>Students to attempt to identify the truthful tweets.</li>
		<li>Tutor to manage a discussion of how truthful tweets might be identified, highlighting the use of language in each truthful tweet.</li>
	</ol>
	
	
	<p>Adaptations and extensions</p>
	<p>
		This task could also focus on deceptive tweets. Here the tutor would highlight a number of example tweets which have successfully deceived participants in Twittest. This would focus on the language used in deceptive tweets, relating discussions to the background information on deception found in the teachers resources.
	</p>
	
	<p>Curriculum Links</p>
	<ul>
	<li>Knowledge and understanding of computing concepts.</li>
	<li>Ability to solve problems by applying knowledge, understanding and practical skills</li>
	<li>Demonstrate knowledge and understanding of a range of facts, ideas and terminology relevant to the development, applications and features of artificial intelligence.
	<li>Definitions of human intelligence and artificial intelligence</li>
	<li>Descriptions of aspects of intelligence (including language, learning, cognitive ability, problem solving skills, memory, creativity)</li>
	<li>Explanation of the difficulties of determining an accurate and agreed definition of intelligence.</li> 
	<li>Explanation of the inherent flaws of the Turing test as a method for determining the existence of artificial intelligence</li>
	</ul>
	
</div>