<div class="whole-page-wrapper" style="background-color:#fff;">
	<div class="whole-page-header">
		<h1>Approve Twittest Tweets</h1>	
		<%= render 'shared/my_school_menu' %>
	</div>
	<div class="whole-page left-section" style="background-color:#fff; width:640px">
		<%= render 'shared/approve' %>
	</div>


	<div class="whole-page right-section" style="min-height: 1000px;">
		<h3>Help</h3>
		<p>
			This page allows you to moderate tweets before they become visible on the site.  Approving a tweet will make it publicly visible and once a student has 
			3 approved tweets they will become a trusted user, no longer requiring moderation.  By flagging a tweet as inappropriate content you will report the student 
			to their school and after 3 infringements they will lose their trusted status.
		</p>
		<hr />
		
	
	
	</div>
	
</div>