<div class="whole-page-wrapper">
	<div class="whole-page-header">
		<h1>Register Your Interest</h1>	
		<ul id="settings_nav" class="tabs" role="navigation">
			<li <% if (request.request_uri == interest_path) %>class="active"<% end %>><%= link_to "Details", interest_path %></li>
			
		</ul>
	</div>
	<p>
		You can register your school for an account on Twittest by emailing

		<a href="mailTo:jon@inf.ed.ac.uk">Jon Oberlander</a> at the University of Edinburgh
		</p>

	
	
</div>