<div class="whole-page-wrapper">
	<div class="whole-page-header">
		<h1>Reported Users</h1>	
		<%= render 'shared/my_school_menu' %>
	</div>
	<div class="whole-page left-section" style="background-color:#fff; width:640px">
		<%= render 'shared/reported' %>
	</div>
	<div class="whole-page right-section" style="min-height: 1000px;">
		<h3>Help</h3>
		<p>
			This page shows students who have had 3 of their tweets flagged with inappropriate content.  As a result they are no longer a 
			trusted user and their tweets will require moderation before being visible on the site.
		</p>
		<hr />
		
	
	
	</div>
	
</div>