<div class="whole-page-wrapper">
	<div class="whole-page-header">
		<h1>Trusted Users</h1>	
		<%= render 'shared/my_school_menu' %>
	</div>
	<div class="whole-page left-section" style="background-color:#fff; width:640px">
		<%= render 'shared/trusted' %>
	</div>
	<div class="whole-page right-section" style="min-height: 1000px;">
		<h3>Help</h3>
		<p>
			This page shows the students at your school which have become trusted users.  When 3 of a students tweets are approved then they gain 
			a trusted status which means their tweets then automatically become visible on the site without needing moderation first.
		</p>
		<hr />
		
	
	
	</div>
	
</div>