<div class="whole-page-wrapper">
	<div class="whole-page-header">
		<h1>Twittest Teachers Activity Pack</h1>	
		<%= render 'shared/activity_menu' %>
	</div>
	<p>
	Resources
	</p>
	<ul>
		<li>Pens and paper</li>
		<li>Two rooms, or a method of dividing a space so that people can remain hidden</li>
		<li>Twittest Teachers pack, background information</li>
	</ul>
	<p>
	Timescale
	</p>
	<p>
	 1 - 1.5 hour session recommended: to include 8 games of 5 - 10 minutes each.
	</p>
	<p>
	Outline
	</p>
	<p>
	The principles involved in the Turing Test don't necessarily require complicated technology in order to be explored and understood in a learning situation. A great initial activity might be to play the Turing Test using pen and paper. This activity introduces the notion of conversation that is integral to the Turing Test, and the conversation feature of Twittest
	</p>
	<p>
	Summary
	</p>
	<p>
		The class is divided into two groups, one including the teacher and one comprised solely of students. While the group with the tutor remains hidden, the other group will engage them in a written conversation to try and work out if it is the teacher or the students who are replying. This activity can be swapped around, so that both groups of students get to judge the outcome, as well as being involved in writing both truthful and deceptive messages. Each instance of the game will involve four 5 or 10 minute conversations. In each conversation, the group with the teacher will reply claiming to be either a teacher or a student. This allows all possible scenarios to be included: True teacher, false teacher, true student and false student. Of course, the group with the teacher doesn’t have to include all four in one game!
	</p>
	
	<p>Lesson Plan</p>
	<ol>
		<li>Teacher to divide the class into two groups, one of which should include the teacher.</li>
	<li>The group without the teacher should be provided with a single sheet of A4 paper and a pen.</li>
	<li>The group without the teacher should make themselves hidden, either going to another room or using a room divider.</li>
<li>The student without the teacher need to start the conversation by writing a short question on the paper, and nominating a representative to deliver the message to the other group.</li>
	<li>When the group with the teacher receives the message, they will write a reply underneath. The group will decide whether it will be the teacher or the students who will reply for the rest of that conversation.</li>
	<li>This conversation to continue of 5 to 10 minutes, after which the judging group must decide whether the replies were coming from the teacher or the students.</li>
	<li>Each instance of the game will include 4 conversations, allowing all possible scenarios to be included in the replies: True teacher, false teacher, true student and false student.</li>
<li>After four conversations have taken place, the students will swap groups, while the teacher remains with the hidden group. Another four conversations can now take place.</li>
	<li>Teacher to manage a plenary discussion, questioning how the teams were able to make judgements about the messages. Activities can also be related to the principles of the Turing Test and the technology involved in chatbots.</li>
</ol>
	
	
	<p>Adaptations and extensions</p>
	<p>
	This scenario can be adapted in a number of ways to accommodate different roles. One such adaptation could involve the role of gender, as indicated in Alan Turing’s original ideas. The class could separate into two groups, each representative of both genders. One group would be the judging group, while the other could reply to conversations using the four options: True male, false male, true female and false female. Where true male and true female are chosen, males and females respectively would write the replies. Where false male and false female are chosen, the opposite gender would write the replies.
	</p>
	
	<p>Curriculum Links</p>
	<ul>
	<li>Knowledge and understanding of computing concepts.</li>
	<li>Ability to solve problems by applying knowledge, understanding and practical skills</li>
	<li>Demonstrate knowledge and understanding of a range of facts, ideas and terminology relevant to the development, applications and features of artificial intelligence.
	<li>Definitions of human intelligence and artificial intelligence</li>
	<li>Descriptions of aspects of intelligence (including language, learning, cognitive ability, problem solving skills, memory, creativity)</li>
	<li>Explanation of the difficulties of determining an accurate and agreed definition of intelligence.</li> 
	<li>Explanation of the inherent flaws of the Turing test as a method for determining the existence of artificial intelligence</li>
	</ul>
	
</div>