<div class="whole-page-wrapper">
	<div class="whole-page-header">
		<h1>Twittest Teachers Activity Pack</h1>	
		<%= render 'shared/activity_menu' %>
	</div>
	<p>
	Resources
	</p>
	<ul>
		<li>PCs with Internet access, one per student.</li>
		<li>Browser software, such as Internet explorer, Safari or Firefox.</li>
		<li>Whiteboard and projector.</li>
		<li>Twittest website</li>
		<li>Twittest Guide</li>
	</ul>
	<p>
	Timescale
	</p>
	<p>
	1 – 1.5 hour session recommended.
	</p>
	<p>
	Outline
	</p>
	<p>
		The Twittest game foregrounds the themes of artificial intelligence, identity play and natural language processing highlighted by the Turing Test. The Twittest website requires an individual login, and provides a subsequent space where each player can view, send and vote on Tweets. This activity is designed for students who are new to the Twittest system, however it is recommended that they are familiarised with the principles of the game through some of the earlier activities.
	</p>
	<p>
	Summary
	</p>
	<p>
		This activity familiarises students with the Twittest website and game functions. Students are guided in exploring initial tasks which will help them to use the system independently at a later date. Students will trial the Twittest game by logging in to the website, sending a tweet, and voting on an existing tweet.
	</p>
	
	<p>Lesson Plan</p>
	<ol>
		<li>Using the Whiteboard and projector, Teacher to demonstrate logging in to the Twittest website.</li>
		<li>Using the Whiteboard and projector, Teacher to highlight the main features of the homepage. This will include the tweet text box, ‘Timeline tab’, and ‘My Tweets’ tab.</li>
		<li>Students to login to the Twittest website using individual login details provided by the Teacher.</li>
		<li>Teacher to demonstrate sending a tweet, highlighting the character limitations and the options to select a role.</li>
		<li>Students to decide on a role, and send their first tweet. While this is taking place, Teacher to send more tweets ‘as teacher’. This will allow the following voting task more effective and challenging for students.</li>
		<li>Using the Whiteboard and projector, Teacher to demonstrate voting on other peoples tweets, and viewing votes on own tweets.</li>
		<li>Students to vote on several tweets using the timeline view. Depending on the class size, it is recommended that each student votes a number of times equal to half the number present in the class.</li>
		<li>Students can now view any votes on their own tweets by using the ‘My Tweets’ tab</li>
	</ol>
	
	
	<p>Adaptations and extensions</p>
	<p>
		This initial trial of Twittest can be followed by sessions which explore the scoring system. After students have voted on existing tweets, they will be able to their score statistics on the ‘My Score’ page. The tabs ‘My Votes on Real Tweets’ and ‘My Votes on Fake Tweets’ will show individual scores for each of these voting activities. Sessions could involve students voting on tweets, and then viewing the scores change.
		Once student’s tweets have received votes, they will be also able to view their score statistics for writing tweets on the ‘My Score’ page. The tabs ‘Voting on my Real Tweets’ and ‘Voting on my fake Tweets’ will show individual scores for writing real and fake tweets.
		Both these activities could lead to discussions about how the scoring system works.
	</p>
	
	<p>Curriculum Links</p>
	<ul>
	<li>Practical skills in the use of computer hardware and software.</li>
	<li>Ability to solve problems by applying knowledge, understanding and practical skills</li>
	<li>Demonstrate knowledge and understanding of a range of facts, ideas and terminology relevant to the development, applications and features of artificial intelligence.
	<li>Definitions of human intelligence and artificial intelligence</li>
	<li>Descriptions of aspects of intelligence (including language, learning, cognitive ability, problem solving skills, memory, creativity)</li>
	<li>Explanation of the difficulties of determining an accurate and agreed definition of intelligence.</li> 
	<li>Explanation of the inherent flaws of the Turing test as a method for determining the existence of artificial intelligence</li>
	</ul>
	
</div>