require 'bundler/capistrano'

set :application, "twittest.org"
set :repository,  "your_github_repository" # e.g. git@github.com:your_name/your_project.git"
set :scm, :git
set :user, "your_username_here"
set :deploy_via, :remote_cache
set :deploy_to, "/var/www/#{application}"
set :use_sudo, false

ssh_options[:forward_agent] = true
ssh_options[:port] = 22 # Your SSH port 

# Or: `accurev`, `bzr`, `cvs`, `darcs`, `git`, `mercurial`, `perforce`, `subversion` or `none`

role :web, "your_server"                          # Your HTTP server, Apache/etc
role :app, "your_server"                          # This may be the same as your `Web` server
role :db,  "your_server", :primary => true # This is where Rails migrations will run

# if you're still using the script/reaper helper you will need
# these http://github.com/rails/irs_process_scripts

# Configure tasks for Passenger
namespace :deploy do
  task :start do ; end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
  end
end
