<div class="main-content" style="min-height: 459px">
	<div class="page-header">
		<div id="tweet-box">
			<h2>
				My Tweets
			</h2>
		</div>
	</div>
	<div class="stream-manager">
	  <div class="stream-container">
	
		 </div>
		</div>

	</div>
<div id="left-pane" class="dashboard">
    
      <strong>Name</strong> <%= @school.name %><br />
      <strong>URL</strong>  <%= link_to school_path(@school), @school %><br />
    
    </div>
