<footer>
  	<div class="gold-bar"></div>
	<nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%=link_to "Teachers Pack", about_path %></li>
	 <li><%=link_to "Register Interest", about_path %></li>
</ul>
  </nav>
</footer>
