<header>
    
    <div id="top-bar"> 
	  <div class="top-bar-inside">
       <%= link_to logo, root_path , :style => "position:inherit; top:3px;"%> 
		<span class="welcome_name" style="position:inherit;top:-6px;">
		<% if signed_in? %>	Welcome <%= current_user.display_name %>! 
		<% else %>
			Are you the twit in twitter?
		<% end %>
		</span>
	
      
		
		
	</div>
	
 </div>
	


</header>

